body{
    background-color:WhiteSmoke;
    font-family:Arial;
}
table{
    text-align:center;
    border-collapse: collapse;

}
td{
    border: 1px solid #ddd;
    padding: 8px;
}
#gold-list{
    width:150px;
    border-style:solid;
    border-radius:3px;
    border-color:transparent;
    padding:5px 20px 5px 10px;
    -webkit-appearance:none;
    background-image:url("/img/arrow.png");
    background-position:right;
    background-repeat:no-repeat;
}
#gold-price{

    display:inline;
    margin-left:20px;
}
