<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NBP SpringBoot Application</title>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    <script src="/js/get.js"></script>
</head>
<body>
<table>
    <tr>
        <td colspan="4">Ceny złota</td>
    </tr>
    <tr>
        <td>Średnia</td>
        <td>Maksymalna</td>
        <td>Minimalna</td>
        <td>Aktualna</td>
    </tr>
    <tr>
        <td th:text="${avg}+' zł.'"></td>
        <td th:text="${max}+' zł.'"></td>
        <td th:text="${min}+' zł.'"></td>
        <td th:text="${actual}+' zł.'"></td>
    </tr>
</table>
<select id="gold-list">
    <option value="0">Wybierz datę</option>
    <option th:each="list: ${goldlist}" th:value="${list.getPrice()}" th:text="${list.getDate()}"></option>
</select>
<p id="gold-price"></p>
</body>
</html>